@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mynerve&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-align: center;
}

$primary: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));

#cart-button {
  z-index: 9;
  position: fixed;
  bottom: 5%;
  right: 5%;
  img {
    width: 22vw;
  }
  #total-price,
  #total-items {
    background-color: black;
    color: white;
    padding: 4px;
    font-size: 1.2rem;
    font-weight: 900;
  }
}
#cart {
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;
  position: fixed;
  display: none;
  align-items: center;
  right: 0;
  top: 0;
  border: 1px solid black;
  background-color: white;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  h1 {
    font-family: "Lilita One", cursive;
    font-size: 2.5rem;
  }
  .cart-body {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    //border: 1px solid red;

    #empty {
      font-size: 2rem;

      font-family: "Mynerve", cursive;
    }
    .cart-item {
      width: 100%;
      //border: 1px solid blue;
      display: grid;
      grid-template-columns: 40% 60%;

      .right {
        position: relative;
        .remove {
          position: absolute;
          font-size: 2rem;
          right: 0;
          color: red;
          font-weight: 900;
        }
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 100%;

        font-weight: 500;

        font-size: 1.2rem;

        .description {
          display: flex;
          flex-direction: column;
          gap: 0.4rem;
          font-weight: 900;
          font-family: "Shadows Into Light", cursive;
          .description-price {
            font-size: 1.6rem;
          }
        }
        .quantity {
          display: grid;
          grid-template-columns: min-content 1fr min-content;
          p {
            padding: 0.3rem;
            font-size: 1rem;
            width: max-content;
            font-weight: 900;
            display: flex;
            align-items: center;
            justify-self: center;
          }
          button {
            padding: 0;
            width: 2rem;
            height: 2rem;
            color: white;
            background-color: black;
          }
        }
      }

      .details-button {
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .details {
        grid-column: 1/3;
        background-color: black;
        color: white;
        display: none;
        flex-direction: column;
        gap: 1rem;
        padding: 0.7rem;

        .flavours,
        .extras {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          .tittle {
            font-size: 1.1rem;
          }
        }
      }
    }
  }
  .total-points {
    padding: 0.5rem 0rem;
    font-size: 1.6rem;
    background-color: red;
    box-shadow: 3px 3px 3px grey;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.726);
    font-family: "Caveat", cursive;
    width: 100%;

    span {
      color: white;
      font-size: 2rem !important;
    }
  }

  button {
    width: 100%;
    padding: 1rem 0px;
    font-weight: 500;
    box-shadow: 0px 2px 2px black;
  }

  #checkout {
    width: 100%;
    //border: 1px solid red;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: -1.6rem;
    #checkout-tittle {
      font-weight: 400;
      margin-bottom: 0.4rem;
      text-align: left;
      margin-left: 1rem;
      font-size: 2rem;
      font-family: "Lilita One", cursive;
    }
    p {
      font-size: 1.5rem;
    }
    #summary-container {
      display: flex;

      justify-content: center;
      #summary {
        display: grid;
        font-weight: 900;
        gap: 0.5rem;
        p:first-of-type {
          text-align: center;
        }
      }
    }
  }
  img {
    width: 100%;
  }
}

#delivery-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .options {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    .option {
      label {
        display: grid;
        grid-template-columns: 66.6% 33.3%;
        span {
          font-size: 1.4rem;
          font-weight: 500;
        }
      }
    }
  }
  #delivery-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .input-container {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      font-size: 1.3rem;
      select,
      input,
      textarea {
        font-size: 1.3rem;
        padding: 0.3rem;
      }
      input,
      textarea {
        border: 1px solid black;
      }
      textarea {
        height: 6rem;
      }
    }
  }
}

#asdf123 {
  border: 1px solid black;
  background-color: red;
}

#purchase-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .purchase {
    display: grid;
    //border: 1px solid black;
    box-shadow: 3px 3px 3px grey;
    button {
      box-shadow: 0px 2px 2px black;
    }
    .time {
      padding: 0.5rem 0.5rem;
      font-size: 1.2rem;
      font-weight: 500;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    .description {
      font-size: 1.2rem;
      .description-total-points,
      .description-total-price {
        padding: 0.5rem;
        font-size: 1.3rem;
      }
      .purchase-state {
        padding: 0.5rem;
        font-size: 1.4rem;
        background-color: black;
        color: white;
        font-weight: 900;
      }
    }

    .cart-item {
      width: 100%;
      //border: 1px solid blue;
      display: grid;
      grid-template-columns: 40% 60%;
      .details-button {
        background-color: black;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
      }
      .details {
        grid-column: 1/3;
        background-color: black;
        color: white;
        display: none;
        flex-direction: column;
        gap: 1rem;
        padding: 0.7rem;

        .flavours,
        .extras {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          .tittle {
            font-size: 1.1rem;
          }
        }
      }
      img {
        width: 100%;
      }

      .right {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 100%;
        align-items: center;
        font-weight: 500;

        font-size: 1.2rem;
      }
    }
  }
}

nav {
  z-index: 9;
  display: flex;
  align-items: center;

  height: 10vh;

  background-color: black;
  position: sticky;
  top: 0;
  .active {
    background-image: $primary;
    background-clip: text;
    color: transparent;
  }
  a {
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    transform: scale(1, 1.2);
    font-weight: 900;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ul {
    display: grid;
    width: 100vw;
    grid-template-columns: 33.3% 33.3% 33.3%;
    height: 100%;

    list-style: none;
    li {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    li:first-of-type {
      grid-column: 1/2;
    }
    li:nth-of-type(3) {
      grid-column: 3/4;
    }
  }
}

/* .form-container {
	display: flex;
	align-items: center;
	height: 90vh;
}
 */

/* #sign-up-log-in {
  z-index: 9;
  grid-template-rows: 1fr 1fr 1fr;
  position: fixed;
  display: none;
  align-items: center;
  right: 0;
  top: 0;

  background-color: white;
  width: 100vw;
  height: 100vh;
  .close {
    width: 100%;
    border: 1px solid black;
    background-color: red;
  }

  #google-auth {
    border: 1px solid black;
    display: flex;
    background-color: orange;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    font-size: 1.5rem;
    height: 100%;
    button {
      width: 100%;
      border: 1px solid black;
      img {
        width: 1.5rem;
        border: 1px solid black;
      }
    }
  }
} */

#botonera {
  z-index: 9;
  margin: 0 -3rem;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  background-image: $primary;
  justify-content: center;
  width: 100vw;

  position: sticky;
  top: 10%;

  button {
    width: 33.3vw;
    font-weight: 900;
    background-color: transparent;
  }
}

#shop {
  padding: 0px 3rem;
  padding-bottom: 3rem;
  background-color: white;
  .content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    /*  height: 70vh;
    overflow: hidden; */
  }

  h1,
  p {
    margin: 0.5rem 0px;
  }
}

#app {
  position: relative;
}

#botonera .active {
  background-color: black;
  color: white;
}

#botonera-perfil .active {
  background-color: black;
  color: white;
}

#botonera-perfil-offline .active {
  background-color: black;
  color: white;
}

.card {
  box-shadow: 3px 3px 3px rgb(44, 42, 42);
  background-image: $primary;
  .img-container {
    position: relative;
    aspect-ratio: 1 / 1;

    .points {
      width: 4.5rem;
      color: black;
      font-weight: 900;
      height: 4.5rem;
      border-radius: 50%;
      right: 2%;
      bottom: 5%;
      position: absolute;

      display: flex;
      align-items: center;
      justify-content: center;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 1));
      }
      .text {
        height: 100%;
        // border: 1px solid black;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50% 50%;
        gap: 0rem;
        align-items: center;

        .points-value {
          font-size: 1.5rem;
          display: flex;
          align-items: flex-end;
          justify-content: center;
        }

        p {
          font-size: 1.3rem;

          font-weight: 900;
          height: 100%;

          position: relative;
          z-index: 3;
          font-family: "Caveat", cursive;
          text-shadow: 1px 1px 1px black;

          //  border: 1px solid black;
        }
      }
    }
  }

  .product-description {
    font-family: "Shadows Into Light", cursive;
    font-weight: 900;
    p {
      margin: 0 !important;
      font-size: 1.7rem;
    }
    .product-price {
      font-size: 2.2rem;
    }
  }

  img {
    width: 100%;
  }
  button {
    width: 100%;
  }

  .to-cart {
    color: white;
    background-color: black;
    font-size: 1.6rem;
    padding: 0.8rem 0rem;
    font-weight: 900;
  }
}

/* .content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
 */
button {
  padding: 0.5rem;
  font-size: 1.5rem;
}

#profile-online {
  padding: 0px 2rem;
  padding-bottom: 3rem;
  background-color: white;

  #user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    align-items: center;
    .user-points {
      color: red;
      font-weight: 900;
    }
    img {
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      border: 5px solid greenyellow;
    }
    .welcome {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;
    }
    button {
      padding: 1rem;
      border: 1rem;
      width: 100%;

      box-shadow: 3px 3px 3px grey;
    }
    p {
      font-size: 1.4rem;
    }
    #conected {
      color: green;
      font-weight: 900;
    }
  }
  #shopping {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    .list {
      border: 1px solid green;
      overflow-y: scroll;
    }
  }
}

#profile-offline {
  // border: 1px solid orange;
  .form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    // border: 2px solid violet;
    padding: 0px 2.5rem;
    #sign-up,
    #log-in {
      padding-top: 1rem;

      width: 100%;
      //border: 1px solid blue;
      fieldset {
        display: flex;
        flex-direction: column;
        gap: 1.8rem;

        font-size: 1.5rem;

        label {
          font-size: 1.2rem;
          text-align: left !important;
        }

        .email-section,
        .password-section {
          //border: 1px solid black;
          display: flex;
          flex-direction: column;
          gap: 0.1rem;
          .input-container {
            position: relative;
            img {
              position: absolute;
              left: 8%;
              top: 50%;
              transform: translate(-50%, -50%);
              width: 1rem;
            }
            input {
              border: 1px solid black;
              font-size: 1.5rem;
              width: 100%;
              padding: 0.3rem 0px;
              padding-left: 15%;
              border-radius: 1rem;
            }
          }
        }

        .buttons-section {
          display: flex;
          flex-direction: column;
          gap: 0.6rem;
          button {
            width: 100%;
            a {
              color: black;
            }
          }
          #google-auth {
            display: grid;
            padding: 2px;
            grid-template-columns: 15% 85%;
            background-color: rgb(0, 119, 255);
            font-weight: 900;
            align-items: center;
            color: white;
            border-radius: 0.2rem;
            img {
              width: 100%;
              border-radius: 0.1rem;
            }
          }
        }

        legend {
          font-size: 1.5rem;
          margin-bottom: 1.2rem;
        }
      }
    }
  }
}

#thanks-message-container {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
  position: fixed;
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;

  #thanks-message {
    padding: 2rem;
    box-shadow: 3px 3px 3px black;

    p {
      font-size: 1.8rem;
      font-weight: 900;
      font-family: "Caveat", cursive;
    }

    background-color: rgb(255, 0, 0);
    color: black;
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    .buttons-container {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      button {
        box-shadow: 3px 3px 3px black;
      }
    }
    ol {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
      li {
        font-size: 1.8rem;
        text-align: left;
        font-weight: 600;
        font-family: "Caveat", cursive;
      }
    }
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

#botonera-perfil {
  margin: 0 -2rem;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 60% 40%;
  background-image: $primary;
  justify-content: center;
  width: 100vw;

  position: sticky;
  top: 10%;
  button {
    font-weight: 900;
    background-color: transparent;
  }
}

#botonera-perfil-offline {
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 50% 50%;
  background-image: $primary;
  justify-content: center;
  width: 100vw;

  position: sticky;
  top: 10%;
  button {
    font-weight: 900;
    background-color: transparent;
  }
}

#contenedor-formulario-helados {
  position: fixed;
  top: 10%;
  left: 0;
  height: 90vh;
  width: 100vw;
  overflow-y: scroll;
  border: 1px solid black;
  padding: 3rem 3rem;
  background-color: white;
  z-index: 9;
  select {
    padding: 0.3rem 0rem;
  }
  #formulario-helados {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    .sabores {
      //border: 1px solid black;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      .sabor {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .input-container {
          display: flex;
          flex-direction: column;
          gap: 0.2rem;
          label {
            text-align: left;
            font-size: 1.1rem;
          }
          select {
            border: 1px solid black;
            font-size: 1.2rem;

            border-radius: 1rem;
            background-color: transparent;
          }
          .required {
            background-image: $primary;
          }
        }
      }
    }
    .extra {
      //border: 1px solid black;

      legend {
        font-size: 1.6rem;
        margin-bottom: 1rem;
      }
      .content {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;

        gap: 1.5rem;
        .rocklets,
        .salsa,
        .conos {
          font-size: 1.2rem;
          display: grid;
          grid-template-columns: 33.3% 66.6%;

          input {
            border: 1px solid black;
          }
          label,
          span {
            text-align: left;
            display: flex;
            align-items: center;
          }
        }
        .salsa {
          select {
            background-color: transparent;
            font-size: 1.2rem;
            border: 1px solid black;
            border-radius: 1rem;
          }
        }
        .conos {
          input {
            height: 100%;
            width: min-content;
          }

          .count {
            display: flex;
            justify-content: center;
          }

          button {
            padding: 0;
            height: 100%;
            aspect-ratio: 1/1;
          }
        }
        .rocklets {
          input {
            border-radius: 50% !important;
            border: 3px solid black !important;
          }
        }
      }
    }
    .total-helado {
      font-size: 1.6rem;
    }
  }
}
