#cart-button {
  //display: none;
}

* {
  box-sizing: border-box;
  padding: 0px;
  border: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
}

img {
  width: 4.5rem;
}

nav {
  container-type: inline-size;
  container-name: nav;
  display: flex;
  width: 100%;
  padding: 0.5rem 2rem;
  align-items: center;
  justify-content: space-between;
  background-color: grey;
  .sidebar {
    position: absolute;
    display: none;
    left: 0;
    top: 0;
    padding: 2rem 4rem;
    background-color: white;
    ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
  .container {
    display: flex;
    gap: 1rem;

    ul {
      display: flex;
      gap: 1rem;
    }
    .sub-container {
      display: flex;
      gap: 1rem;
      align-items: center;
      #cart-button {
        position: relative;
        img {
          width: 1.7rem;
        }
        span {
          position: absolute;

          color: white;
          left: 60%;
          top: 40%;
          transform: translate(-50%, -50%);
        }
      }
      .burger-menu {
        width: 1.5rem;
        height: 1.5rem;
        justify-content: space-between;
        border-radius: 5px;
        display: none;
        gap: 0.4rem;
        flex-direction: column;
        background-color: transparent;
        &:hover div:first-child {
          transform: rotate(45deg);
        }
        &:hover div:nth-child(2) {
          opacity: 0;
        }
        &:hover div:nth-child(3) {
          transform: rotate(-45deg);
        }
        div {
          width: 100%;
          height: 2px;
          background-color: black;
          transition: all 0.5s;
          transform-origin: left;
        }
      }
    }
  }
}

#root {
  container-type: inline-size;
  container-name: root;
  display: grid;
  min-height: 100vh;
  min-height: 100svh;

  grid-template-rows: min-content min-content 1fr;
}

section.content {
  /*  justify-self: center; */

  padding: 2rem 0rem;

  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  h1 {
    text-align: center;
  }
  .cards-container {
    display: grid;
    width: 700px;

    justify-content: center;
    grid-template-columns: repeat(auto-fit, 8rem);

    gap: 1.5rem;

    .card {
      box-shadow: 2px 2px 2px 2px rgb(44, 42, 42);
      width: 8rem;
      display: grid;
      gap: 0.4rem;
      grid-template-rows: min-content min-content min-content;

      & > .img-container {
        position: relative;

        img {
          width: 100%;
          vertical-align: middle;
        }

        .loader {
          position: absolute;
          left: 50%;
          top: 50%;

          width: 48px;
          height: 48px;
          border: 5px solid #fff;
          border-bottom-color: #ff3d00;
          border-radius: 50%;

          box-sizing: border-box;
          animation: rotation 1s linear infinite;
          @keyframes rotation {
            0% {
              transform: translate(-50%, -50%) rotate(0deg);
            }
            100% {
              transform: translate(-50%, -50%) rotate(360deg);
            }
          }
        }
      }

      p {
        font-family: "Shadows Into Light", cursive;
        font-weight: 900;
        text-align: center;
      }

      .to-cart {
        display: grid;

        position: relative;

        grid-template-columns: 1fr 1fr;
        color: white;

        background-color: black;
        padding: 0.4rem 0rem;
        font-weight: 900;

        .img-container {
          position: relative;
          img {
            aspect-ratio: 1/1;
            position: absolute;
            width: 2rem;
            top: 0px;
          }
        }
      }

      .active:after {
        animation: animate 0.5s;
        position: absolute;
        content: "";
        left: 0;
        top: 0;

        width: 100%;
        height: 100%;
        @keyframes animate {
          0% {
            box-shadow: 0 0 0 0 black;
          }
          100% {
            box-shadow: 0 0 10px 30px black;
            opacity: 0;
          }
        }
      }
    }
  }
}

#footer {
  width: 100%;
  background-color: grey;
  padding: 2rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: left;
  .container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .subcontainer {
      width: 240px;

      h4 {
        margin-bottom: 0.4rem;
        letter-spacing: 0.15rem;
      }

      p {
        font-size: 0.9rem;
      }
    }
  }

  .copyright {
    //display: none;
    grid-column: 1/4;
    text-align: center;
    letter-spacing: 0.4rem;
    font-weight: 900;
    font-size: 0.8rem;
    line-height: 1.6rem;
  }
}

#cart {
  position: absolute;
  z-index: 9;
  padding: 2rem;
  background-color: white;
  border: solid black 1px;
  .cart-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .close {
      position: absolute;
      top: 0px;
      width: 3rem;
      left: 0px;
    }
    .cart-body {
      border: solid black 1px;
      .cart-item {
        border: solid red 1px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .left {
          position: relative;
          .remove {
            position: absolute;
            width: 1.2rem;
            left: 0px;
          }
          .thumbnail {
            width: 7rem;
          }
        }
        .right {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          .description {
          }
          .quantity {
            display: flex;
            border: solid black 1px;
          }
        }
      }
    }
  }
}

.ruler {
  position: absolute;
  width: 700px;
  left: 0px;
  height: 2px;
  background-color: black;
}

@container root   (max-width:700px) {
  .cards-container {
    width: 320px !important;
  }
}

@container root   (max-width:800px) {
  #footer {
    .container {
      grid-template-columns: 1fr 1fr !important;
      gap: 2rem;
      .location {
        text-align: right !important;
      }
    }
  }
}

@container root   (max-width:540px) {
  #footer {
    .container {
      grid-template-columns: 1fr !important;
      .location {
        text-align: left !important;
      }
    }
    .copyright {
      text-align: left !important;
    }
  }
}

@container nav  /* style(--switch-to-vertical:true) */  (max-width:600px) {
  nav {
    .container {
      ul {
        display: none !important;
      }
    }
    .burger-menu {
      display: flex !important;
    }
    .sidebar {
      display: block;
    }
  }
}
