* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-align: center;
}

.cart-item {
  display: flex;
}

.right {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  transform: scale(1, 1.2);
  font-weight: 900;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cart {
  z-index: 9;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  position: fixed;
  display: none;
  align-items: center;
  right: 0;
  top: 0;
  border: 1px solid black;
  background-color: white;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  .cart-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    border: 1px solid red;
    .cart-item {
      width: 100%;
      border: 1px solid blue;
      display: grid;
      grid-template-columns: 40% 60%;

      .right {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        justify-content: center;
      }
    }
  }
  #checkout {
    width: 100%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    p {
      font-size: 1.5rem;
    }
    button {
      width: 100%;
    }
  }
  img {
    width: 100%;
  }
}

nav {
  display: flex;
  align-items: center;

  height: 10vh;

  background-color: black;
  position: sticky;
  top: 0;
  .active {
    color: yellow;
  }

  ul {
    display: grid;
    width: 100vw;
    grid-template-columns: 33.3% 33.3% 33.3%;
    height: 100%;

    list-style: none;
    li {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    li:first-of-type {
      grid-column: 1/2;
    }
    li:nth-of-type(3) {
      grid-column: 3/4;
    }
  }
}

#botonera {
  padding-bottom: 4rem;
  margin: 0 -3rem;
  display: flex;
  justify-content: center;
  width: 100vw;
  position: sticky;
  top: 10%;
  height: 8vh;
  flex-wrap: wrap;

  button {
    width: 33vw;
    font-weight: 900;
  }
}

#shop {
  padding: 0px 3rem;
  padding-bottom: 3rem;
  background-color: beige;
  h1,
  p {
    margin: 0.5rem 0px;
  }
}
#app {
  position: relative;
}

#cart-button {
  border: 1px solid red;
  position: fixed;
  bottom: 5%;
  right: 5%;
}

#botonera .active {
  background-color: black;
  color: white;
}

.card {
  box-shadow: 3px 3px 3px rgb(44, 42, 42);
  p {
    font-size: 1.5rem;
  }
  background-color: white;
  img {
    width: 100%;
  }
  button {
    width: 100%;
  }

  .to-cart {
    color: white;
    background-color: black;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

button {
  padding: 0.5rem;
  font-size: 1.5rem;
}
